@model (Question Question, IEnumerable<QuestionResponse> Responses)

@{
    ViewData["Title"] = "Question Details";
}

<h1>@Model.Question.QuestionText</h1>

<div>
    <h3>Survey Information</h3>
    <p>Survey ID: @Model.Question.Survey.SurveyID</p>
    <p>Survey Name: @Model.Question.Survey.Name</p>
</div>

<div>
    <a href="@Url.Action("Edit", "Question", new { id = Model.Question.QuestionID })" class="btn btn-warning">Edit Question</a>
    <a href="@Url.Action("Delete", "Question", new { id = Model.Question.QuestionID })" class="btn btn-danger">Delete Question</a>
</div>

<h2>Responses</h2>
<table class="table mt-3">
    <thead>
        <tr>
            <th>Response Text</th>
            <th>Selected Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var response in Model.Responses)
        {
            <tr>
                <td>@response.AnswerText</td>
                <td>
                    @if (response.SelectedOptions != null && response.SelectedOptions.Any())
                    {
                        <ul>
                            @foreach (var option in response.SelectedOptions)
                            {
                                <li>@option.OptionText</li>
                            }
                        </ul>
                    }
                    else
                    {
                        <span>No options selected</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
