@model Question

@{
    ViewData["Title"] = "Edit Question";
}

<h1>Edit Question</h1>

<form id="editQuestionForm">
    <input type="hidden" id="QuestionID" name="QuestionID" value="@Model.QuestionID" />
    <input type="hidden" id="SurveyID" name="SurveyID" value="@Model.SurveyID" />

    <div class="form-group">
        <label for="QuestionText">Question Text</label>
        <input type="text" class="form-control" id="QuestionText" name="QuestionText" value="@Model.QuestionText" required />
    </div>
    <div class="form-group">
        <label for="QuestionType">Question Type</label>
        <select class="form-control" id="QuestionType" name="QuestionType" required>
            <option value="TextInput" data-selected="@Model.QuestionType == QuestionType.TextInput">Text Input</option>
            <option value="Dropdown" data-selected="@Model.QuestionType == QuestionType.Dropdown">Dropdown</option>
            <option value="RadioButton" data-selected="@Model.QuestionType == QuestionType.RadioButton">Radio Button</option>
            <option value="MultipleSelect" data-selected="@Model.QuestionType == QuestionType.MultipleSelect">Multiple Select</option>
        </select>
    </div>
    <div class="form-group" id="optionsContainer" style="@(Model.QuestionType == QuestionType.TextInput ? "display: none;" : "display: block;")">
        <label for="Options">Options (Comma-separated)</label>
        <input type="text" class="form-control" id="Options" name="Options" value="@(string.Join(",", Model.Options))" />
    </div>

    <button type="submit" class="btn btn-success">Save Changes</button>
</form>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            var selectedType = '@Model.QuestionType';
            $('#QuestionType').val(selectedType);

            $('#QuestionType').change(function () {
                var type = $(this).val();
                var optionsContainer = $('#optionsContainer');
                if (type === 'Dropdown' || type === 'RadioButton' || type === 'MultipleSelect') {
                    optionsContainer.show();
                } else {
                    optionsContainer.hide();
                }
            });

            var initialType = $('#QuestionType').val();
            if (initialType === 'Dropdown' || initialType === 'RadioButton' || initialType === 'MultipleSelect') {
                $('#optionsContainer').show();
            } else {
                $('#optionsContainer').hide();
            }

            $('#editQuestionForm').submit(function (e) {
                e.preventDefault();

                var questionData = {
                    QuestionID: $('#QuestionID').val(),
                    SurveyID: $('#SurveyID').val(),
                    QuestionText: $('#QuestionText').val(),
                    QuestionType: $('#QuestionType').val(),
                    Options: $('#Options').val().split(',').map(o => o.trim())
                };

                $.ajax({
                    method: 'POST',
                    url: '/question/edit/' + $('#QuestionID').val(),
                    contentType: 'application/json',
                    data: JSON.stringify(questionData),
                    success: function () {
                        window.location.href = '/survey/details/' + $('#SurveyID').val();
                    },
                    error: function (xhr) {
                        console.log(xhr.responseText);
                        alert('Error saving question');
                    }
                });
            });
        });
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}
