@model SurveyResponseDetailsViewModel

@{
    ViewData["Title"] = "Survey Response Details";
}

<h2>@ViewData["Title"]</h2>

<div>
    <dl class="row">
        <dt class="col-sm-3">Response ID</dt>
        <dd class="col-sm-9">@Model.ResponseID</dd>

        <dt class="col-sm-3">Survey Name</dt>
        <dd class="col-sm-9">@Model.SurveyName</dd>

        <dt class="col-sm-3">Submission Date</dt>
        <dd class="col-sm-9">@Model.SubmissionDate</dd>

        <dt class="col-sm-3">Submitted By</dt>
        <dd class="col-sm-9">@Model.SubmittedBy</dd> 
    </dl>
</div>

<h4>Question Responses</h4>
<table class="table">
    <thead>
        <tr>
            <th>Question</th>
            <th>Answer</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var qr in Model.QuestionResponses)
        {
            <tr>
                <td>@qr.QuestionText</td>
                <td>@qr.AnswerText</td>
            </tr>
        }
    </tbody>
</table>

<form method="post" asp-action="Delete" asp-route-id="@Model.ResponseID">
    <button type="submit" class="btn btn-danger">Delete</button>
    <a href="@Url.Action("Index", "Survey", new { id = Model.SurveyID })" class="btn btn-secondary">Back to Survey Responses</a>
</form>



@section Scripts
{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}
