@model Survey

@{
    ViewData["Title"] = "Submit Survey";
}

<h2>Submit Survey</h2>

<form id="submit-survey-form" method="post">
    <input type="hidden" name="SurveyID" value="@Model.SurveyID" />

    <h3>@Model.Name</h3>

    @foreach (var question in Model.Questions)
    {
        <div class="form-group">
            <label>@question.QuestionText</label>
            @if (question.QuestionType == dhub.Models.QuestionType.TextInput)
            {
                <input type="text" name="Responses[@question.QuestionID]" class="form-control" />
            }
            else if (question.QuestionType == dhub.Models.QuestionType.Dropdown)
            {
                <select name="Responses[@question.QuestionID]" class="form-control">
                    @foreach (var option in question.Options)
                    {
                        <option value="@option">@option</option>
                    }
                </select>
            }
            else if (question.QuestionType == dhub.Models.QuestionType.RadioButton)
            {
                @foreach (var option in question.Options)
                {
                    <div class="form-check">
                        <input type="radio" name="Responses[@question.QuestionID]" value="@option" class="form-check-input" />
                        <label class="form-check-label">@option</label>
                    </div>
                }
            }
            else if (question.QuestionType == dhub.Models.QuestionType.MultipleSelect)
            {
                <select name="Responses[@question.QuestionID]" multiple class="form-control">
                    @foreach (var option in question.Options)
                    {
                        <option value="@option">@option</option>
                    }
                </select>
            }
        </div>
    }

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#submit-survey-form').submit(function (e) {
                e.preventDefault();

                var form = $(this);
                var formData = form.serialize();

                $.ajax({
                    url: '@Url.Action("Submit", "SurveyResponse")',
                    type: 'POST',
                    data: formData,
                    success: function (response) {
                        alert('Survey submitted successfully!');
                        window.location.href = '@Url.Action("Index", "SurveyResponse")';
                    },
                    error: function (xhr, status, error) {
                        alert('Error submitting survey: ' + error);
                    }
                });
            });
        });
    </script>
}
