@model dhub.Models.Survey

<form id="editSurveyForm">
    <input type="hidden" id="SurveyID" name="SurveyID" value="@Model.SurveyID" />
    <div class="form-group">
        <label for="Name">Survey Name</label>
        <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name" required />
    </div>

    <div id="questionsContainer">
        @for (int i = 0; i < Model.Questions.Count; i++)
        {
            var question = Model.Questions[i];
            <div class="question-form" id="question-@i">
                <h4>Question @i</h4>
                <div class="form-group">
                    <label for="QuestionText-@i">Question Text</label>
                    <input type="text" class="form-control" id="QuestionText-@i" name="Questions[@i].QuestionText" value="@question.QuestionText" required />
                </div>
                <div class="form-group">
                    <label for="QuestionType-@i">Question Type</label>
                    <select class="form-control" id="QuestionType-@i" name="Questions[@i].QuestionType" data-initial-type="@question.QuestionType" required>
                        <option value="TextInput" data-type="TextInput">Text Input</option>
                        <option value="Dropdown" data-type="Dropdown">Dropdown</option>
                        <option value="RadioButton" data-type="RadioButton">Radio Button</option>
                        <option value="MultipleSelect" data-type="MultipleSelect">Multiple Select</option>
                    </select>
                </div>
                <div class="form-group" id="optionsContainer-@i" style="display: @(question.QuestionType == dhub.Models.QuestionType.TextInput ? "none" : "block")">
                    <label for="Options-@i">Options (Comma-separated)</label>
                    <input type="text" class="form-control" id="Options-@i" name="Questions[@i].Options" value="@(string.Join(",", question.Options))" />
                </div>
                <button type="button" class="btn btn-danger remove-question" data-question-index="@i">Remove Question</button>
            </div>
        }
    </div>

    <button type="button" id="addQuestion" class="btn btn-primary">Add Question</button>
    <button type="submit" class="btn btn-success">Save Changes</button>
</form>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            var questionIndex = @Model.Questions.Count;

            function addQuestionForm() {
                var questionFormHtml = `
                            <div class="question-form" id="question-${questionIndex}">
                                <h4>Question ${questionIndex + 1}</h4>
                                <div class="form-group">
                                    <label for="QuestionText-${questionIndex}">Question Text</label>
                                    <input type="text" class="form-control" id="QuestionText-${questionIndex}" name="Questions[${questionIndex}].QuestionText" required />
                                </div>
                                <div class="form-group">
                                    <label for="QuestionType-${questionIndex}">Question Type</label>
                                    <select class="form-control" id="QuestionType-${questionIndex}" name="Questions[${questionIndex}].QuestionType" data-initial-type="TextInput" required>
                                        <option value="TextInput">Text Input</option>
                                        <option value="Dropdown">Dropdown</option>
                                        <option value="RadioButton">Radio Button</option>
                                        <option value="MultipleSelect">Multiple Select</option>
                                    </select>
                                </div>
                                <div class="form-group" id="optionsContainer-${questionIndex}" style="display: none;">
                                    <label for="Options-${questionIndex}">Options (Comma-separated)</label>
                                    <input type="text" class="form-control" id="Options-${questionIndex}" name="Questions[${questionIndex}].Options" />
                                </div>
                                <button type="button" class="btn btn-danger remove-question" data-question-index="${questionIndex}">Remove Question</button>
                            </div>
                        `;
                $('#questionsContainer').append(questionFormHtml);
                questionIndex++;
            }

            $('#addQuestion').click(function () {
                addQuestionForm();
            });

            $(document).on('change', '[id^="QuestionType-"]', function () {
                var index = $(this).attr('id').split('-')[1];
                var type = $(this).val();
                var optionsContainer = $('#optionsContainer-' + index);
                if (type === 'Dropdown' || type === 'RadioButton' || type === 'MultipleSelect') {
                    optionsContainer.show();
                } else {
                    optionsContainer.hide();
                }
            });

            $(document).on('click', '.remove-question', function () {
                var index = $(this).data('question-index');
                $('#question-' + index).remove();
            });

            function setInitialQuestionTypes() {
                $('[id^="QuestionType-"]').each(function () {
                    var initialType = $(this).data('initial-type');
                    if (initialType === 'Dropdown' || initialType === 'RadioButton' || initialType === 'MultipleSelect') {
                        $('#optionsContainer-' + $(this).attr('id').split('-')[1]).show();
                    } else {
                        $('#optionsContainer-' + $(this).attr('id').split('-')[1]).hide();
                    }
                });
            }

            $('#editSurveyForm').submit(function (e) {
                e.preventDefault();

                var surveyData = {
                    SurveyID: $('#SurveyID').val(),
                    Name: $('#Name').val(),
                    Questions: gatherQuestions()
                };

                $.ajax({
                    method: 'POST',
                    url: '/survey/edit/' + $('#SurveyID').val(),
                    contentType: 'application/json',
                    data: JSON.stringify(surveyData),
                    success: function () {
                        window.location.href = '/survey/index';
                    },
                    error: function (xhr) {
                        console.log(xhr.responseText);
                        alert('Error saving survey');
                    }
                });
            });

            function gatherQuestions() {
                var questions = [];
                $('#questionsContainer .question-form').each(function () {
                    var index = $(this).attr('id').split('-')[1];
                    var questionText = $(`#QuestionText-${index}`).val();
                    var questionType = $(`#QuestionType-${index}`).val();
                    var optionsString = $(`#Options-${index}`).val();
                    var optionsArray = optionsString ? optionsString.split(',').map(o => o.trim()) : [];

                    questions.push({
                        QuestionText: questionText,
                        QuestionType: questionType,
                        Options: optionsArray
                    });
                });
                return questions;
            }

            setInitialQuestionTypes();  
        });
    </script>
}
